// main: ./conquestandcalamity.less
.conquestandcalamity.sheet.characterSheet {
    .sheet{
        width: 700px;
        height: 580px;
    }

    .headerBox {
        float: left;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 5px;
        margin-bottom: 5px;

        .infoFieldLabel {
            width: 50%;
            flex-basis: 50%;
            flex-shrink: 0;
        }

        .classes{
            width: 100%;
            flex-basis: 100%;
        }
    }

    .content {
        margin-top: 4px;
    }

    .statsGrid{
        display: grid;
        grid-template-columns: 15% 15% 15% 15% 15% 15%;
        margin: 2px 0;
        column-gap: 2%;

    }
    
    .statBox {
        border: 2px solid white;
        display: block;
        padding: 5px;
        border-radius: 5px;
        width: 93px;

        .statName{
            text-align: center;
        }

        .statValue {
            text-align: center;
            font-size: large;
        }
    }  

    .mainSection {
        display: grid;
        grid-template-columns: 75px 75px auto auto auto;

        .resourceHolder {
            grid-column: 3 / span 3;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-evenly;

            .resource {
                display: grid;
                grid-template-columns: 85px 30px;
                font-size: inherit;

                .statBox {
                    width: 85px;
                    margin: auto;
                    grid-row: 1 / 3;
                }

                button {
                    grid-column: 2;
                    width: 22px;
                    height: 22px;
                    min-height: 22px;
                    margin: auto;
                }
            }  
        }

        .resourceHolder.emphasis {
            font-size: var(--font-size-18);
        }

        .resourceHolder.wideResource {
            .resource {
                grid-template-columns: 115px 30px;
            }

            .statBox {
                width: 115px;
            }
        }

        .otherStats {
            grid-column: 1 / 6;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            border-top: 2px solid white;
            border-bottom: 2px solid white;
            padding: 3px 0;
            font-size: var(--font-size-16);
            margin-top: 4px;

            .statBox {
                width: 115px;
            }

            .statText {
                flex-basis: 100%;
                font-size: var(--font-size-14);
            }
        }

        .statsHeader {
            grid-column: 1 / 6;
            text-align: center;
            margin-top: 5px;
            font-size: var(--font-size-18);
        }

        .characterImg {
            grid-column: 1 / 3;
            grid-row: 1 / 3;
            width: 150px;
            border: 1px solid white;
        }

        .defenseBox {
            display: grid;
            grid-template-columns: 50% 50%;

            div {
                text-align: center;
            }
        }

        .attack {
            grid-column: 1 / 6;
            display: flex;
            flex-wrap: wrap;
            justify-content: left;
            border-top: 1px solid white;
            border-bottom: 1px solid white;
            padding: 5px 0;

            .attackName {
                flex-basis: 27%;
            }

            .attackSkill {
                flex-basis: 23%;
            }

            .attackRange {
                flex-basis: 19%;
            }

            .attackDamage {
                flex-basis: 24%;
            }

            .attackCrit {
                flex-basis: 7%;
            }

            .attackSpecials {
                flex-basis: 100%;
            }
        }
    }

    .skills {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 505px;
        margin-top: 15px;
        vertical-align: middle;

        .skillsSpacer{
            flex-basis: 100%;
            width: 2%;
        }

        .skillsMidSpacer {
            flex-basis: 100%;
            width: 6%;
        }

        .skillHeader {
            border-bottom: 1px solid white;
            margin-bottom: 5px;
            display: grid;
            grid-template-columns: 35% 15% 10% 15%;
            width: 45%;

            div{
                margin-top: auto;
                text-align: center;
            }

            .skillSectionName {
                text-align: left;
            }
        }

        .skillSectionHeader {
            grid-column: span 4;
            margin-bottom: 5px;
        }

        .skill {
            width: 45%;
            display: grid;
            grid-template-columns: 35% 15% 10% 15% 10% 10%;
            grid-column: span 4;

            .skillName {
                font-size: small;
                vertical-align: middle;
            }

            input[type=checkbox] {
                margin: auto;
                margin-top: auto;
                --checkbox-size: 19px;
            }

            .rankInput {
                height: 17px;
                text-align: center;
            }

            .rankButton{
                padding: 0;
                width: 16px;
                height: 16px;
                min-height: 16px;
                margin: 0 auto;
                padding: 0;
                text-align: center;
                vertical-align: middle;
            }
        }
    }
}