// main: ./conquestandcalamity.less
.conquestandcalamity.sheet.characterSheet {
    .sheet{
        width: 700px;
        height: 580px;
    }

    .headerBox {
        float: left;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        border-bottom: 2px solid white;
        padding-bottom: 5px;
        margin-bottom: 5px;

        .infoFieldLabel {
            width: 50%;
            flex-basis: 50%;
            flex-shrink: 0;
        }

        .classes{
            width: 100%;
            flex-basis: 100%;
        }
    }

    .statsGrid{
        display: grid;
        grid-template-columns: 15% 15% 15% 15% 15% 15%;
        margin: 2px 0;
        column-gap: 2%;

        .statBox {
            border: 2px solid white;
            display: block;
            padding: 5px;
            border-radius: 5px;

            .statName{
                text-align: center;
            }

            .statValue {
                text-align: center;
                font-size: large;
            }
        }
    }

    

    .skills {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 505px;
        margin-top: 15px;
        vertical-align: middle;

        .skillsSpacer{
            flex-basis: 100%;
            width: 2.5%;
        }

        .skillsMidSpacer {
            flex-basis: 100%;
            width: 5%;
        }

        .skillHeader {
            border-bottom: 1px solid white;
            margin-bottom: 5px;
            display: grid;
            grid-template-columns: 35% 15% 10% 15%;
            width: 45%;

            div{
                margin-top: auto;
                text-align: center;
            }

            .skillSectionName {
                text-align: left;
            }
        }

        .skillSectionHeader {
            grid-column: span 4;
            margin-bottom: 5px;
        }

        .skill {
            width: 45%;
            display: grid;
            grid-template-columns: 35% 15% 10% 15% 10% 10%;
            grid-column: span 4;

            .skillName {
                font-size: small;
            }

            input {
                margin: auto;
            }

            .rankInput {
                height: 17px;
                text-align: center;
            }

            .rankButton{
                padding: 0;
                width: 16px;
                height: 16px;
                min-height: 16px;
                margin: auto;
                padding: 0;
                text-align: center;
                vertical-align: middle;
            }
        }
    }
}