.conquestandcalamity.sheet.characterSheet .sheet {
  width: 700px;
  height: 580px;
}
.conquestandcalamity.sheet.characterSheet .headerBox {
  float: left;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.conquestandcalamity.sheet.characterSheet .headerBox .infoFieldLabel {
  width: 50%;
  flex-basis: 50%;
  flex-shrink: 0;
}
.conquestandcalamity.sheet.characterSheet .headerBox .classes {
  width: 100%;
  flex-basis: 100%;
}
.conquestandcalamity.sheet.characterSheet .content {
  margin-top: 4px;
}
.conquestandcalamity.sheet.characterSheet .statsGrid {
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15% 15%;
  margin: 2px 0;
  column-gap: 2%;
}
.conquestandcalamity.sheet.characterSheet .statBox {
  border: 2px solid white;
  display: block;
  padding: 5px;
  border-radius: 5px;
  width: 93px;
}
.conquestandcalamity.sheet.characterSheet .statBox .statName {
  text-align: center;
}
.conquestandcalamity.sheet.characterSheet .statBox .statValue {
  text-align: center;
  font-size: large;
}
.conquestandcalamity.sheet.characterSheet .mainSection {
  display: grid;
  grid-template-columns: 75px 75px auto auto auto;
}
.conquestandcalamity.sheet.characterSheet .mainSection .resourceHolder {
  grid-column: 3 / span 3;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
.conquestandcalamity.sheet.characterSheet .mainSection .resourceHolder .resource {
  display: grid;
  grid-template-columns: 85px 30px;
  font-size: inherit;
}
.conquestandcalamity.sheet.characterSheet .mainSection .resourceHolder .resource .statBox {
  width: 85px;
  margin: auto;
  grid-row: 1 / 3;
}
.conquestandcalamity.sheet.characterSheet .mainSection .resourceHolder .resource button {
  grid-column: 2;
  width: 22px;
  height: 22px;
  min-height: 22px;
  margin: auto;
}
.conquestandcalamity.sheet.characterSheet .mainSection .resourceHolder.emphasis {
  font-size: var(--font-size-18);
}
.conquestandcalamity.sheet.characterSheet .mainSection .resourceHolder.wideResource .resource {
  grid-template-columns: 115px 30px;
}
.conquestandcalamity.sheet.characterSheet .mainSection .resourceHolder.wideResource .statBox {
  width: 115px;
}
.conquestandcalamity.sheet.characterSheet .mainSection .otherStats {
  grid-column: 1 / 6;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 3px 0;
  font-size: var(--font-size-16);
  margin-top: 4px;
}
.conquestandcalamity.sheet.characterSheet .mainSection .otherStats .statBox {
  width: 115px;
}
.conquestandcalamity.sheet.characterSheet .mainSection .otherStats .statText {
  flex-basis: 100%;
  font-size: var(--font-size-14);
}
.conquestandcalamity.sheet.characterSheet .mainSection .statsHeader {
  grid-column: 1 / 6;
  text-align: center;
  margin-top: 5px;
  font-size: var(--font-size-18);
}
.conquestandcalamity.sheet.characterSheet .mainSection .characterImg {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  width: 150px;
  border: 1px solid white;
}
.conquestandcalamity.sheet.characterSheet .mainSection .defenseBox {
  display: grid;
  grid-template-columns: 50% 50%;
}
.conquestandcalamity.sheet.characterSheet .mainSection .defenseBox div {
  text-align: center;
}
.conquestandcalamity.sheet.characterSheet .mainSection .attack {
  grid-column: 1 / 6;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 5px 0;
}
.conquestandcalamity.sheet.characterSheet .mainSection .attack .attackName {
  flex-basis: 27%;
}
.conquestandcalamity.sheet.characterSheet .mainSection .attack .attackSkill {
  flex-basis: 23%;
}
.conquestandcalamity.sheet.characterSheet .mainSection .attack .attackRange {
  flex-basis: 19%;
}
.conquestandcalamity.sheet.characterSheet .mainSection .attack .attackDamage {
  flex-basis: 24%;
}
.conquestandcalamity.sheet.characterSheet .mainSection .attack .attackCrit {
  flex-basis: 7%;
}
.conquestandcalamity.sheet.characterSheet .mainSection .attack .attackSpecials {
  flex-basis: 100%;
}
.conquestandcalamity.sheet.characterSheet .skills {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 505px;
  margin-top: 15px;
  vertical-align: middle;
}
.conquestandcalamity.sheet.characterSheet .skills .skillsSpacer {
  flex-basis: 100%;
  width: 2%;
}
.conquestandcalamity.sheet.characterSheet .skills .skillsMidSpacer {
  flex-basis: 100%;
  width: 6%;
}
.conquestandcalamity.sheet.characterSheet .skills .skillHeader {
  border-bottom: 1px solid white;
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: 35% 15% 10% 15%;
  width: 45%;
}
.conquestandcalamity.sheet.characterSheet .skills .skillHeader div {
  margin-top: auto;
  text-align: center;
}
.conquestandcalamity.sheet.characterSheet .skills .skillHeader .skillSectionName {
  text-align: left;
}
.conquestandcalamity.sheet.characterSheet .skills .skillSectionHeader {
  grid-column: span 4;
  margin-bottom: 5px;
}
.conquestandcalamity.sheet.characterSheet .skills .skill {
  width: 45%;
  display: grid;
  grid-template-columns: 35% 15% 10% 15% 10% 10%;
  grid-column: span 4;
}
.conquestandcalamity.sheet.characterSheet .skills .skill .skillName {
  font-size: small;
  vertical-align: middle;
}
.conquestandcalamity.sheet.characterSheet .skills .skill input[type=checkbox] {
  margin: auto;
  margin-top: auto;
  --checkbox-size: 19px;
}
.conquestandcalamity.sheet.characterSheet .skills .skill .rankInput {
  height: 17px;
  text-align: center;
}
.conquestandcalamity.sheet.characterSheet .skills .skill .rankButton {
  width: 16px;
  height: 16px;
  min-height: 16px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}
