<div class="attack">
    <div class="attackName"><span class="label">Name:</span> Unarmed Attack</div>
    <div class="attackSkill"><span class="label">Skill:</span> Heavy Weapons</div>
    <div class="attackRange"><span class="label">Range:</span> Extended</div>
    <div class="attackDamage"><span class="label">Damage:</span> 0+Willpower</div>
    <div class="attackCrit"><span class="label">Crit:</span> 5</div>
    <div class="attackSpecials"><span class="label">Specials:</span> Basic, Grapple, Nimble</div>
</div>