<div class="attack">
    <div class="attackName">Name: Unarmed Attack</div>
    <div class="attackSkill">Skill: Heavy Weapons</div>
    <div class="attackRange">Range: Extended</div>
    <div class="attackDamage">Damage: 0+Willpower</div>
    <div class="attackCrit">Crit: 5</div>
    <div class="attackSpecials">Specials: Basic, Grapple, Nimble</div>
</div>