<div class="mainSection">
    <img class="characterImg" src="{{actor.img}}" data-edit="img" data-action="editImage" title="{{actor.name}}">
    <div class="resourceHolder emphasis">
        {{> "systems/conquestandcalamity/templates/partials/resource-box.hbs" name="HP" value=12 max=15}}
        {{> "systems/conquestandcalamity/templates/partials/resource-box.hbs" name="Temp HP" value=5}}
        {{> "systems/conquestandcalamity/templates/partials/resource-box.hbs" name="Stamina" value=6 max=10}}
    </div>
    <div class="resourceHolder wideResource">
        {{> "systems/conquestandcalamity/templates/partials/resource-box.hbs" name="Healing Resist." value=2}}
        {{> "systems/conquestandcalamity/templates/partials/resource-box.hbs" name="Other Resource" value=15}}
    </div>
    <div class="otherStats">
        <div>Movement Points: 15</div>
        <div>Damage Reduction: 15</div>
        <div>Defense (M|R): 1 | 2</div>
    </div>

    <div class="otherStats" style="border-top: none">
        <div class="statText">Resistances: Cold 4, Fire 2</div>
        <div class="statText">Weaknesses: Necrotic 3, Radiant 7</div>
        <div class="statText">Immunities: Poison, Lightning</div>
    </div>
    <div class="otherStats" style="border-top: none">
        <div class="statText">Conditions: Disoriented 3, Burning</div>
        <div class="statText">Diseases: Lycanthropy</div>
        <div class="statText">Critical Injuries: Minor Nick (3)</div>
    </div>
    <div class="statsHeader">Attacks</div>
    {{> "systems/conquestandcalamity/templates/partials/attack.hbs"}}
    {{> "systems/conquestandcalamity/templates/partials/attack.hbs"}}
    {{> "systems/conquestandcalamity/templates/partials/attack.hbs"}}
</div>