<div class="skillName">{{skill.name}}</div>
<input type="checkbox">
<input type="checkbox">
<input type="number" value=0 min=0 max=6 class="rankInput">
<button class="rankButton" style="margin-right:2px">-</button>
<button class="rankButton" style="margin-left:2px">+</button>