<div>
    <nav class="tabs menuTabs" data-group="primary-tabs">
        <a class="item" data-tab="tab1" data-group="primary-tabs">Main</a>
        <a class="item" data-tab="tab2" data-group="primary-tabs">Stats</a>
    </nav>

    <section class="content">
        <div class="tab" data-tab="tab1" data-group="primary-tabs">
            {{> "systems/conquestandcalamity/templates/partials/main.hbs"}}
        </div>

        <div class="tab" data-tab="tab2" data-group="primary-tabs">
            {{> "systems/conquestandcalamity/templates/partials/stats.hbs"}}
        </div>

    </section>
</div>