<div class="headerBox">
    <div class="infoFieldLabel">Race: {{actor.system.race}}</div>
    <div class="infoFieldLabel">Field: {{actor.system.field}}</div>
    <div class="classes">Classes: Necromancer, Researcher</div>
</div>